<p id="notice"><%= notice %></p>
<h2 class="text-center">Добро пожаловать в ваш языковой помощник!</h2>
<br>
<div class="container">
  <div class="row" align="center">
    <div class="col-sm-6">
      <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top" src="/assets/teacher.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Преподаватель</h5>
          <p class="card-text">Вы сможете создавать управжнеия для ваших учеников,
            отслеживать их выполнение а так же получать заявки от новых учеников.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card text-center" style="width: 18rem;">
        <img class="card-img-top" src="/assets/pinkm.jpg" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Ученик</h5>
          <p class="card-text">Вам будут доступны различные упражнения созданные вашим
            и другими преподавателями, которые так же будут готовы помочь вам.</p>
        </div>
      </div>
    </div>
  </div>
</div>
<% unless current_user %>
  <br>
  <br>
  <div class="form-row text-center">
    <div class="col-12">
      <%= link_to 'Я понял, погнали!', new_user_session_path, class: 'btn btn-primary' %>
    </div>
  </div>
<% end %>