<div class="card text-center">
  <div class="card-header">
    <h3>Случайное слово из вашего списка</h3>
  </div>
  <div class="card-body">
    <div class="panel-group">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 class="panel-title">
            <a data-toggle="collapse" href="#collapse1" id="basic-addon1"><%= @first_word.english_word %></a>
          </h4>
        </div>
        <div id="collapse1" class="panel-collapse collapse">
          <div class="panel-body">
            <span class="card-text" id="basic-value"><%= @first_word.value %></span>
          </div>
        </div>
      </div>
    </div>
    <a href="#" class="btn btn-primary" id="random_button">Следущее слово</a>
  </div>
</div>
<br>
<%= link_to 'Назад', word_lists_path, class: 'btn btn-outline-secondary' %>

<script type="text/javascript" charset="utf-8">
    $("#random_button").click(function () {
        $.ajax({
            url: '<%= random_word_word_list_url(@word_list) %>.json',
            type: 'GET',
            success: function (element) {
                var english_word = element['english_word'],
                    value = element['value'],
                    span_en = $("#basic-addon1"),
                    span_ru = $('#basic-value');
                if (span_ru) {
                    span_ru.text(value);
                    span_en.text(english_word);
                }
            },
            error: function (ex) {
                console.log('ERROR');
                console.log(ex)
            }
        });
    });
</script>