<h1>Редактирование теста</h1>

<% content_for :form_actions_after do %>
  <%= link_to 'Посмотреть', @questionnaire, class: 'btn btn-outline-secondary' %>
  <%= link_to 'Назад', questionnaires_path, class: 'btn btn-outline-secondary' %>
<% end %>

<%= render 'form', questionnaire: @questionnaire %>

<br>
<br>
