<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #6bdafd;">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="<%= root_path %>">
        <img src="#" width="30" height="30" class="d-inline-block align-top" alt="">
        Bootstrap
      </a>
      <%= link_to 'Home', root_path, class: 'navbar-brand' %>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav">
        <%= render 'layouts/navigation_links' %>
      </ul>
      <ul class="navbar-nav ml-auto">
        <%= render 'layouts/login_links' %>
      </ul>
    </div>
  </div>
</nav>
